.container{
	max-width: 1450px;
	width: 100%;
	margin: 50px auto;
}
.box{
	background-image: url(https://images.unsplash.com/photo-1518568814500-bf0f8d125f46?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80);
	height: 100%;
	width: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: inline-block;
	transition: all 0.5s linear 0.5s;
}
.box1{
	background-image: url(https://interactive-examples.mdn.mozilla.net/media/examples/grapefruit-slice-332-332.jpg);
	height: 100%;
	width: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: inline-block;
	transition: all 0.5s linear 0.5s;
}
.parent-box{
	overflow: hidden;
	background-position: center;
	background-repeat: no-repeat;
	display: inline-block;
	transition: all 0.5s linear 0.5s;
	height: 400px;
    width: 350px;
}
.parent-box:hover .box1 {
	transform: scale(1.5);
}
.parent-box:hover .box2 {
	transform: scale(1.5);
}
.parent-box:hover .box {
	transform: scale(1.5);
}
.box2{
	background-image: url(https://ksassets.timeincuk.net/wp/uploads/sites/55/2019/04/GettyImages-1136749971-920x584.jpg);
	height: 100%;
	width: 100%;
	background-size: cover;
	background-position: center;
	transition: all 0.5s linear 0.5s;
	
}
/*.box2:hover{
	transform: scale(0.5);

}*/
.box3{
	background-image: url(http://cdn.desktopwallpapers4.me/wallpapers/photography/1920x1200/2/16651-water-drops-on-a-green-leaf-1920x1200-photography-wallpaper.jpg);
	height: 400px;
	width: 350px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: inline-block;
	transition-property: all;
	transition-duration: 0.5s;
	transition-delay: 0.5s;
	transition-timing-function: linear;
}
.text{
	opacity: 0;
	 color: red;
    font-size: 60px;   
    background-color: rgba(141, 67, 67, 0.5);
    height: 100%;
    width: 100%;
}
.box3:hover{
	height: 200px;
	width: 150px;
	background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSfO6ZtF1NIdaGjVIi6HR2AKB4Sy1F0VTQ9TvgbHUe032rlOEa6);
}
.box3:hover .text{
	opacity: 1;
	
}
.relative{
	position: relative;
	width: 500px;
	height: 500px;
	background-color: red;
	animation: mymove 5s infinite;
}
.absolute{
width: 100px;
  height: 100px;
  background: red;
  position :relative;
  -webkit-animation: mymove 5s infinite; /* Safari 4.0 - 8.0 */
  animation: mymove 5s infinite;
    
}
/*.absolute:hover{
	background-color: blue;
	transform: translate(-50%, -50%) rotate(-200deg) scale(1.3);
	color:red;
	font-size: 50px;

}*/
.child-box{
	font-size: 40px;
	color: red;
	position: relative;
	background-color: green;
	transition-property: all;
	transition-duration: 0.3s;
	transition-delay: 0.3s;
	transition-timing-function: ease;
}
.span {
	opacity: 0;
	color: aqua;
	font-size: 30px;
	position: absolute;
	left: 60px;
	width: 300px;
	background-color: black;
	transition-duration: 0.8s;
	transition-delay: 0.8s;
	transition-timing-function: linear;
	transition-property: left;
	top: 0;
}
.child-box:hover{
	color:green;
	background-color:red ;
}
.child-box:hover .span {
	opacity: 1;
	
	left: 500px;
	}
}


/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
  from {top: 0px;background-color:red;}
  to {top: 200px;background-color: green;}
}

/* Standard syntax */
@keyframes mymove {
  from {top: 0px;background-color:red;}
  to {top: 200px;background-color:green;}
}